<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="DefaultURL" value="http://www.google.ru"/>
    <add key="DefaultDriver" value="chrome"/>
    <add key="ChromeDriverPath" value="D:\Selenium_test\chrome"/>
    <add key="FFDriverPath" value="D:\Selenium_test\ff"/>
    <add key="IEDriverPath" value="D:\Selenium_test\ie"/>

  </appSettings>
</configuration>
